[2021-12-01 10:53] vogloblinsky commented on #1140
Ok thanks

[2021-12-04 11:20] SDAdham commented on #1140
Sorry for taking long, I don't know if there is a certain debug flag I can use to show more logs, but here is all of the errors i found:

[code]
Here is how the file referenced content looked like:
[code]
There are several errors similar to above in many other routes files, but I don't think that this could be related, but nothing else.

This is how I run it:
[code]
The `compodocrc.json` is as fol

[2021-12-04 11:24] SDAdham commented on #1140
I cannot find a way of debug:
[code]
Version:
[code]
I'm on Windows 11 though but it doesn't matter, the issue happens on both W11 and during CI.

[2021-12-04 11:37] SDAdham commented on #1140
I tried serve option but it's no different.

[2021-12-04 15:04] vahid18u commented on #1157
I guess you need this class:

`
import { AppBaseLayer } from "../AppBaseLayer";

/**
 * Abstract class for a set of layers that are not meant to be modified
 * and are only used as background beneath other layers, like {@link GridLayer} and {@link OpenStreetLayer}
 */
export abstract class ImmutableLayer extends AppBaseLayer {
  constructor(id: number, uuid: string, title: string) {
    super(id,

[2021-12-04 15:04] vahid18u commented on #1157
I guess you need this class :

[code]

[2021-12-06 09:32] vogloblinsky commented on #1157
Ok reproduced, thanks

[2021-12-06 09:35] vogloblinsky commented on #1140
Ok i will. try to check if the routing parsing error, raise an exception and generate a problem with the link between the three classes.

[2021-12-06 09:54] #1157 closed

[2021-12-06 13:15] #1146 closed

[2021-12-06 14:18] mistic100 commented on #1146
@vogloblinsky I am not sure your fix is correct

it should exit 1 on error not 0

[2021-12-06 14:34] vogloblinsky commented on #1146
Yes, good catch, too focused on catching the error, i miss to use 1 and not 0. Fixed.

[2021-12-07 01:30] SDAdham commented on #1140
I just checked, we have this is working just fine with services but components. But for services, i do not see the inherited variables, only methods.

[2021-12-07 10:01] #1141 closed

[2021-12-07 11:01] vogloblinsky commented on #1141
Cool !

[2021-12-07 17:25] Prasanth-FrontEnd commented on #1152
After upgrading to the latest version, it's working fine.

[2021-12-07 20:04] vogloblinsky commented on #1152
Thanks for the feedback

[2021-12-07 20:04] #1152 closed

[2021-12-09 09:11] NausheenAkhter opened #1162 "[BUG] imported types are not included in the generated documentation"
Not able to get metadata of the imported types or enums

I am able to get datatypes which is there in the file but not the imported ones.

I am working on versions:
Node: v14.18.1
npm: 6.14.15
compodoc: 1.1.16

##### **Angular configuration, a `package.json` file in the root folder**
    "docs:json": "compodoc -p ./tsconfig.doc.json -e json --minimal"
this is script I am running from package.json

[2021-12-09 09:14] vogloblinsky commented on #1162
Could you provide an example please ?

[2021-12-09 09:29] NausheenAkhter commented on #1162
let's say, there is one file where we are keeping all our custom types:

types.ts

[code]

  Now we are importing this file into our component file:
  app.component.ts

[code]
In the above case, I am not getting type of size as  'small'
  | 'medium'
  | 'large'

  instead what I am getting is text 'Sizes'.

[2021-12-09 10:13] #1131 closed

[2021-12-09 11:56] vogloblinsky commented on #1162
Sorry, just tested, you got for me enough information with this :
![image](https://user-images.githubusercontent.com/2841805/145392171-9ab71220-f4b8-424e-960a-8c19a9426ea3.png)

[2021-12-10 11:26] bpatrick47 commented on #1126
Y have se same problem with route generator :

data: { actions: Configs.rights.DisplayUIMenuCustomer }
 Configs.rights.DisplayUIMenuCustomer is parsed with "Configs"."rights"."DisplayUIMenuCustomer" and generate an error in JSON converter

[2021-12-10 12:37] wlucha opened #1163 "[FEATURE] Versioning support"
##### **Overview of the feature**

Versioning functionality for compodoc generated documentation (similar to Docusaurus: https://docusaurus.io/docs/versioning)

##### **Motivation for or Use Case**

Currently documentation generated by compodoc doesn't support history versioning which is needed for Angular libraries.

##### **Related issues**

https://github.com/compodoc/compodoc/issues/40

[2021-12-10 12:39] vogloblinsky commented on #1163
Can you explain a little more what could be the role of compodoc for this feature ?
Handling versions for Compodoc can be quickly a nightmare (diff, etc).

[2021-12-10 12:41] NausheenAkhter commented on #1162
How would I get the detailed types of type "`Sizes`"?
I am trying to get all the types as 'small' | 'medium' | 'large' but I am unsuccessful on doing that.

[2021-12-10 13:54] vogloblinsky commented on #1162
No sorry, but for me, the user could click on `Sizes`link to get information about this Type alias.

Typedoc does the same thing :

![image](https://user-images.githubusercontent.com/2841805/145584728-97714d35-c1a7-4a8e-aa78-29f9378901ac.png)

[2021-12-13 08:39] NausheenAkhter commented on #1162
I am not able to get it in the json file created using exportFormat like `-e json`.

[2021-12-13 10:15] vogloblinsky commented on #1162
What did you miss ?

[2021-12-13 10:49] vogloblinsky commented on #1156
Any news ?

[2021-12-13 11:05] gkit1980 commented on #1156
I produced the documentation for Node version 12 but I'm still facing issues with Node 8.12
I haven't made a clean install of npm dependencies.
I will do it and I response you asap.

[2021-12-13 11:22] #1144 closed

[2021-12-14 13:17] hmendezm opened #1164 "[BUG] Unhandled Rejection at: Promise {"
Hi Guys, compodoc was working for a long time but Today compodoc decided to stop working. The only thing I change was to use lazy loading in Angular but I do not see how this can affect it.

compodoc: v1.1.14

Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '(' at 1:40
      at syntaxError (C:\Projects\....\node_modules\json5\lib\parse.js:1083:17)
      at inva

[2021-12-14 14:52] vogloblinsky commented on #1164
Can i have the sourcecode of your routing ?

[2021-12-14 15:07] hmendezm commented on #1164
Hi vogloblinsky,

I found the issue. The issue is when you use `` instead of '' inside import(....)

Best
hmendez

[2021-12-15 13:47] vogloblinsky commented on #1164
Ok thanks, reproduced

[2021-12-15 15:06] #1164 closed

[2021-12-15 15:21] #1147 closed

[2021-12-15 15:27] vogloblinsky commented on #1140
Sorry, i cannot reproduce your context.

[2021-12-16 10:32] NausheenAkhter commented on #1162
For my use case, I am having 4 different custom types stored in the different directories with the same type name. When I was going through the `typealiases.html`, I found that the href for all 4 types are same as `#TYPE_NAME`, How would I differentiate that what is there for which component?

[2021-12-16 10:40] NausheenAkhter commented on #1162
<img width="1457" alt="Screenshot 2021-12-16 at 4 06 08 PM" src="https://user-images.githubusercontent.com/30772381/146355966-3511e325-36ff-4c6e-b14c-bd4815da69ef.png">

I want to see what is the exact type of the input I clicked rather it is showing me all available types with that name

[2021-12-16 10:42] vogloblinsky commented on #1162
I don't think it'is possible, Compodoc does a static analysis of the source code.

[2021-12-17 03:06] jiangshanwe opened #1165 "[BUG] routing module <rejected> InvalidOperationError: Could not find the node's symbol."
# compodoc version

1.1.16

#tsconfig.doc.json

[code]

# console error
[code]

# debug.log
[code]

[2021-12-17 03:07] jiangshanwe commented on #1165
# routes-routing.module.ts
[code]

[2021-12-23 10:30] GestHairHome opened #1166 "[BUG] issue with story book"
when running following npm run storybook following appear :

[2021-12-29 15:39] hichemfantar opened #1167 "[BUG] Dark mode toggle doesn't persist when switching pages"
##### **Overview of the issue**

Dark mode choice doesn't persist between pages.

##### **Reproduce the error**

Simply change the dark mode toggle setting then switch to another page and It'll revert back to the default value.

##### **Related issues**

Store the dark mode choice in local storage then load it during page load.

[2021-12-29 19:25] #1167 closed

[2021-12-29 19:30] vogloblinsky commented on #1166
Can i have the use-case of storybook for reproduce this bug please ?

[2021-12-29 19:46] vogloblinsky commented on #1143
Can i have an example of storybook + compodoc + angular for reproduce this bug please ?

[2021-12-31 05:44] phihochzwei opened #1168 "[FEATURE] Define custom categories"
##### **Overview of the feature**

Since there seems to be no support for NGRX and due to the closed issue about it, it would be nice to have at least the possibility do define custom categories to which you can assign e.g. your Actions or Selectors to.

##### **Motivation for or Use Case**

Currently we are building a Monorepo project in which round about 30 external developers will be included i

[2021-12-31 06:13] phihochzwei opened #1169 "[FEATURE] Define "Type""
##### **Overview of the feature**
Define the type as which a part of the file should be listed

##### **Motivation for or Use Case**
While trying to prepare a nice doc for our NGRX based project, I tried to write the documentation for the Actions, which are written/created by storing the returned functions of the "createAction()"-method into constants. However, I am not able to define params to be

[2022-01-03 08:51] #1162 closed

[2022-01-03 09:39] vogloblinsky commented on #500
Did a meta information like rawdata would be the solution ?

[2022-01-03 10:47] vogloblinsky commented on #646
In the last version and in the demo project, sorting is done by default now with statements-desc : https://compodoc.github.io/compodoc-demo-todomvc-angular/coverage.html

[2022-01-03 10:47] #646 closed

[2022-01-05 13:09] freed00m opened #1170 "[Regression] - PR #1148 now wrongly resolves paths"
##### **Overview of the issue**

Hi, I think this change #1148 cause me some weird issue.

I am having
[code]
now it failing because it searching for file named

"app-routing.ts" and should look for "app-routing.module.dummy.ts"

[code]

currently workaroundable by having a symlink
[code]

##### **Operating System, Node.js, npm, compodoc version(s)**

OS is Archlinux stable, nodejs stable, npm+yar

[2022-01-09 09:40] rfprod opened #1171 "[BUG] Compodoc build fails in CI environment, it prints LIBERTY LIBERTY LIBERTY and subsequent gibberish output"
##### **Overview of the issue**

Compodoc build is failing in CI environment with the following error.

[code]

It works locally, but I have installed it as a global dependency long ago.

My assumption is that it depends on a package that is broken.

##### **Operating System, Node.js, npm, compodoc version(s)**

Ubuntu latest, Nodejs v16. This pipeline https://github.com/rfprod/nx-ng-starter/blob/

[2022-01-09 09:48] vogloblinsky commented on #1171
The terme "LIBERTY" is not present in Compodoc source code.
Can you do a test in a local environment ? with @compodoc/compodoc installed locally ?

[2022-01-09 09:50] vogloblinsky commented on #1171
Ok seems colors dependency has special commits yesterday...

[2022-01-09 13:36] jvalentik commented on #1171
I got the same issue, in local env, and can confirm it's caused by colors@1.4.1.
Workaround for now, if you use yarn, is to add `"resolutions": { "colors": "1.4.0" }` to package.json.

[2022-01-09 16:26] geexup commented on #1171
Same here
![image](https://user-images.githubusercontent.com/11647656/148691088-0677cabc-504b-4fc3-a233-e24b8e34acee.png)
[code]

[2022-01-09 18:00] vogloblinsky commented on #1171
Will publish next version 1.1.17 this evening with colors version fixed to 1.4.0

[2022-01-09 18:37] vogloblinsky commented on #1171
1.1.17 online

[2022-01-09 18:37] #1171 closed

[2022-01-09 22:50] a2nt commented on #1171
I had the same issue with completely different package. Your solution works great thx.

[2022-01-10 08:30] koen-dev opened #1172 "[BUG] Unable to use compodoc with Apple Silicon M1 Chip"
##### **Overview of the issue**
Unable to use `compodoc` on M1 MacBook Pro. Not 100% sure if this relates to the Apple Silicon but as it seems to work on other Intel based MacBooks I assume it is.
![image](https://user-images.githubusercontent.com/5583604/148735165-4eb9204d-dfe6-4191-8056-613587077273.png)

##### **Operating System, Node.js, npm, compodoc version(s)**
- Operating System: **macOs M

[2022-01-10 09:51] vogloblinsky commented on #1172
Update compodoc to 1.1.17 version, which use a fixed version of colors, which is the origin of this error.

[2022-01-10 09:51] #1172 closed

[2022-01-10 09:53] koen-dev commented on #1172
Awesome, thanks for your quick response! Going to test it right now. Will update you if it works 👍

[2022-01-10 10:08] mavidulin opened #1173 "[BUG] Strange output in terminal. Runs endlessly."
##### **Overview of the issue**
When installing any version of compodoc and running any compodoc command (e.g. "npx compodoc -V"), there seems to be a script running endlessly and outputting very strange things.

It's possible the issue is "colors" dependency. See this article https://snyk.io/blog/open-source-npm-packages-colors-faker/

##### **Operating System, Node.js, npm, compodoc version(s)**

[2022-01-10 10:09] vogloblinsky commented on #1173
Try to install 1.1.17 version please, it should be fixed with that version.

[2022-01-10 10:18] mavidulin commented on #1173
Thanks for the fast answer, however, the issue remains with version 1.1.17. In package.json inside node_modules/@compodoc/compodoc I also see the "colors" dependency.

[2022-01-10 10:22] koen-dev commented on #1172
@vogloblinsky I updated the package to 1.1.17 and I still have the same issue unfortunately 😢

[2022-01-10 10:28] mavidulin commented on #1173
I can further confirm that the "colors" is pinned to version "1.4.0" which should apparently be unaffected, but strangely I still have the problem.

[2022-01-10 10:30] vogloblinsky commented on #1172
I am on it

[2022-01-10 10:33] vogloblinsky commented on #1173
I am on it

[2022-01-10 10:40] vogloblinsky commented on #1173
Ok, fixed with compodoc 1.1.18

[2022-01-10 10:40] #1173 closed

[2022-01-10 10:40] vogloblinsky commented on #1172
Ok, fixed with compodoc 1.1.18

[2022-01-10 10:50] Pluiesurlavitre commented on #1173
Thank you @vogloblinsky :)

[2022-01-10 10:51] koen-dev commented on #1173
Thank you @vogloblinsky 🎉

[2022-01-10 15:32] sroucheray commented on #1171
Colors is a library published by the same maintainer as FakerJS which has been in the news lately.

[2022-01-10 16:06] stefan-schweiger opened #1174 "[BUG] >1.1.7 isn't able to read `package.json` (REGRESSION)"
##### **Overview of the issue**

I've updated from 1.1.4 to 1.1.8 (everything else stayed the same) and got this error message:

[code]

I've tried to go trough all versions between 1.1.4 and 1.1.8 and the issue only appears in 1.1.7 and 1.1.8.

From the error message I'm guessing that compodoc tries to find the `package.json` file in the directory of the nx project I'm running and not in the work

[2022-01-11 06:21] ssams commented on #1106
issue/request still applies (commenting to avoid automatic closure)

[2022-01-11 08:31] stefan-schweiger commented on #1174
@vogloblinsky here is my repro https://github.com/stefan-schweiger/compodoc-1.1.8-package-bug

To run it use

[code]

Works perfectly fine with 1.1.6. but breaks with 1.1.7. and 1.1.8

[2022-01-11 10:21] vogloblinsky commented on #1174
I have tested your repro. What is the problem ?
The file in the log doesn't exist, and compodoc generate the doc correctly.

[2022-01-11 10:34] stefan-schweiger commented on #1174
@vogloblinsky that it prints this error right at the beginning. It still "works" in the sense that it generates output, but it doesn't use the `package.json`.

[code]

[2022-01-11 10:36] stefan-schweiger commented on #1174
@vogloblinsky before 1.1.7 it didn't print this error, so I'm assuming it tries to resolve the wrong `package.json` instead of the one in the workspace root.

[2022-01-12 19:21] mamallama commented on #1000
Same issue here. Any workarounds? Fixes?

[2022-01-13 09:53] stefan-schweiger commented on #1174
@vogloblinsky I've now tried to debug compodoc myself and I can't find anything obviously wrong because it just uses `process.cwd()`. But I still can't figure out why updating from 1.1.6 to 1.1.7 would change any behavior of where the process working directory is located. I don't see any changed which could cause this except for updated packages maybe https://github.com/compodoc/compodoc/compare/1

[2022-01-13 17:14] twittwer commented on #1174
The executor uses the project's root (except when running in workspaceDocs mode). [Code](https://github.com/twittwer/nx-tools/blob/9b3add3526bad0cdf568d37982b1ff0ed94a9b5b/packages/compodoc/src/executors/build/executor.ts#L29-L31)

[2022-01-14 10:18] vogloblinsky commented on #1000
@mamallama Can i have more informations ? Logs ? sourcecode of file where it breaks ?
Thanks

[2022-01-19 10:05] renovate[bot] opened #1182 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>github-actions</summary>
<blockquote>

<details><summary>.github/workflows/check-outdated.yml</summary>

 - `actions/checkout v3

[2022-01-19 13:55] mamallama commented on #1000
@vogloblinsky  Sure!

Unhandled Rejection at: Promise {
  <rejected> TypeError: Cannot read properties of undefined (reading 'text')
      at AngularDependencies.getSymboleName (/Users/reneeq/Desktop/Projects/rcclog-web/node_modules/@compodoc/compodoc/dist/index-cli-a4b7f403.js:10201:26)
      at visitDecorator (/Users/reneeq/Desktop/Projects/rcclog-web/node_modules/@compodoc/compodoc/dist/index-c

[2022-01-20 10:12] stefan-schweiger commented on #1174
@vogloblinsky I finally had time to look into this again, and it seems like the error was always there when using it for `nx` projects, but it just wasn't printed in silent mode (default for nx). I'm guessing some lib updated changed this behavior. Probably the upgrade from `fancy-log@^1.3.3` to `fancy-log@^2.0.0`.

@twittwer the cwd which compodoc gets when running with `nx`/`@twittwer/compodoc`

[2022-01-25 14:28] proelf98 opened #1192 "[QUESTION] Graph Legend is missing"
##### **Overview of the issue**
The legend is missing for the graphs. I've looked in the Compodoc Documentation in [Option](https://compodoc.app/guides/options.html) but there is no setting with turning on the legends. Is there a possibility to turn it back on?
![grafik](https://user-images.githubusercontent.com/63370997/150994503-056fd7ae-e68c-4fa7-b38e-21af8d61cbc9.png)

##### **Operating System

[2022-01-26 07:11] SASGeniusFlashConception opened #1193 "[FEATURE]"
##### **Overview of the feature**

Define a readme per language in the .compodocrc.json configuration file.

##### **Motivation for or Use Case**

In order to have cleaner and easily readable documentation depending on the chosen language
Example :
- README_Fr-fr.md
- README_EN-us.md

Thanks for your great work!

👉  https://opencollective.com/compodoc/donate -->

[2022-01-26 10:17] kroeder opened #1195 "[BUG] Compodoc tsconfig path resolution is broken on windows machines"
##### **Overview of the issue**

If you run Compodoc with the `-p` flag and pass in an absolute path on windows machines, it results in an error

Storybook passes in an absolute path like this

[code]

and the result is

[code]

It seems like it adds `process.cwd()` to the already absolut path and causes a duplication

We figured out that this might be the line where things go wrong for windows us

[2022-01-27 12:00] MichalNemec opened #1196 "[BUG] declare var @ignore"
##### **Overview of the issue**
[code]
is shown in documentation, but it should not

##### **Operating System, Node.js, npm, compodoc version(s)**

OS Name	Microsoft Windows 10 Pro
Version	10.0.19043 Build 19043
Node v14.15.1
NPM 6.14.8
Compodoc 1.1.18

##### **Angular configuration, a `package.json` file in the root folder**
[code]

[code]

##### **Compodoc installed globally or locally ?**

glob

[2022-01-27 13:22] vogloblinsky commented on #1196
Juste tested in demo-project, L variable is correctly ignored.

[2022-01-28 16:32] ocket8888 opened #1197 "[FEATURE] Allow specifying custom paths to specially handled files"
##### **Overview of the feature**
Allow specifying e.g. `--changelogPath` to specify a path to a file to use as the CHANGELOG.md for files like it that are specially handled. I know of:
- LICENSE
- CONTRIBUTING
- TODO
- README
- CHANGELOG

##### **Motivation for or Use Case**
My project is a mono-repo that contains many different components of a large system. The front-end that I want documented i

[2022-01-28 16:51] ocket8888 opened #1198 "[FEATURE] Show project properties from package.json"
##### **Overview of the feature**
The documentation currently doesn't make use of the following `package.json` fields that I think would be nice to see in documentation:
- `version`
- `description`
- `homepage`
- `repository`
- `bugs`
- `author`
- `license`
- `keywords`
- possibly `engine` and `engineStrict`

##### **Motivation for or Use Case**
Because compodoc doesn't find my license file (see #

[2022-01-31 06:30] MichalNemec commented on #1196
probably some remnants of definition before ignore, wiped out docs and served again, now its hidden. Thanks for response

[2022-01-31 06:30] #1196 closed

[2022-02-01 15:26] deadratfink opened #1203 "[BUG] custom-logo links are broken for doc deployments with a path"
The closed fix for #1147 (custom-logo links are broken for child content) does not allow a proper deployment of generated documentation under a path. I assume `@compodoc/compodoc v1.1.18` (the one we use now) includes the fix.

When we deploy the generated docs we use a path, e.g. `bar` like in `https://foo.com/bar/index.html` to access our docs. If we do that the custom logo is not shown at all (

[2022-02-02 11:26] deadratfink commented on #1203
OK, my suggestion won't work for navigating to sub-pages (like in "Additional documentation"). For each hierarchy an adapted relative path is required. For instance, one level down we have to add `../images`. That means it must be somehow calculated for each sub-page level...

[2022-02-02 18:43] twittwer commented on #1174
@stefan-schweiger @jogelin
Like I said, by default the library is used as working directory and in case of the [workspaceDocs mode](https://github.com/twittwer/nx-tools/tree/main/packages/compodoc#workspace-docs) the workspace root.

I don't know what the package.json is used for. In case of dependency analysis, it seems correct to use the library and not the workspace as buildable libraries have

[2022-02-03 13:03] jogelin commented on #1174
@twittwer maybe we could just have a fallback? If the library package.json doesn't exist, then we use the workspace one?

[2022-02-05 15:52] philippjenni commented on #1140
I have the same issue in my project with release 1.1.14 and 1.1.18. I will try to fix the problem and make a PR.

[2022-02-06 02:48] SDAdham commented on #1140
thanks @philippjenni , that'll be great :) :)

[2022-02-07 16:57] nutangwari opened #1208 "[BUG] Spread operators in routes is breaking and not generating docs for Angular"
##### If you are using spread operators in routes in angular, build is breaking and docs are not getting generated

[code]

There was existing issues raised couple of years back but there was no activity or fix was available and was auto closed by the bots marked as inactive/stale bug. This is very common scenario and not able to use this actually problematic as our application is very huge and sp

[2022-02-07 20:36] vogloblinsky commented on #1140
@philippjenni Do you have a use-case for reproducing the bug ?

[2022-02-07 21:03] #1140 closed

[2022-02-07 21:03] vogloblinsky commented on #1140
Ok fixed, thanks @philippjenni for your contribution

[2022-02-07 21:05] philippjenni commented on #1140
@vogloblinsky Yes, like this ...

[code]

The problem is that `DirectiveDepFactory` doesn't check the extends property so only properties from `NgCheckboxCommon` will be visible in the documentation. Properites from NgBaseModelControl  are ignored. I have extend the `DirectiveDepFactory` class and update the template and the ExtendsMerger. If @SDAdham can confirm that the fix also works for him, I

[2022-02-07 23:36] SDAdham commented on #1140
Absolutely, what version do I install to test this?

[2022-02-08 10:33] philippjenni commented on #1140
Try checkout my branch with git and run follow command like this https://github.com/compodoc/compodoc/blob/master/CONTRIBUTING.md#development-process

The follow commands should work:

open one terminal and run inside compodoc folder : `npm i` and `npm run start`
open another terminal with the source code of the your project, and run `node ../compodoc/bin/index-cli.js [Your Parameter]` as Example

[2022-02-09 09:16] SDAdham commented on #1140
I cloned your project, then checked out your branch, then i ran `npm i` then `npm run start`, then I am getting a huge list of errors:
![image](https://user-images.githubusercontent.com/11182824/153163714-2eb37d96-725a-42e0-9175-58b5ee8e0bc2.png)

[2022-02-09 09:26] SDAdham commented on #1140
I even tried to ignore the error and open the second terminal and run the second command, it achieved no luck. It finished, and the other terminal is sitll hanging on the errors

[2022-02-09 09:31] SDAdham commented on #1140
Ok, I opened the generated HTML pages manually and I can verify that you are awesome by the look of it. I checked few pages and it seems that I can see the inherited classes. Let me check NestJS project as well.

[2022-02-09 09:32] vogloblinsky commented on #1140
@SDAdham just tried that :
- ```npm i -D https://github.com/compodoc/compodoc```
- run your compodoc command

[2022-02-09 09:34] SDAdham commented on #1140
It's alright, I am already going through the docs as we speak. Luckily HTML files works awesome on their own without a server. Well done! It works perfectly in Angular!

[2022-02-09 09:38] SDAdham commented on #1140
For NestJS project:

- I cannot see the extended classes for controllers.
- For services, I do can see the extended classes but I cannot see their extended extended classes, it's only 1 level it seems

[2022-02-09 09:40] vogloblinsky commented on #1140
Give me some code example please to see where i miss to process inheritance for Nestjs use-cases please

[2022-02-09 09:43] SDAdham commented on #1140
Ok, give me a moment pls, let me try to find a template for nestjs and try to reproduce it for you.

[2022-02-09 09:44] vogloblinsky commented on #1140
Thanks

[2022-02-09 10:10] SDAdham commented on #1140
@vogloblinsky i did an example code, but I couldn't run compodoc, please see https://github.com/SDAdham/typescript-starter

to start, `npm i` and then `npm run start` and `http://localhost:3000/api/` to see swagger

[2022-02-09 10:11] SDAdham commented on #1140
I added you as collaborator

[2022-02-09 10:17] vogloblinsky commented on #1140
Ok, i can see the issue for controllers. I will fix it.
For services, everything seems to be ok for me. What's wrong ?

[2022-02-09 10:22] SDAdham commented on #1140
Nothing is wrong, I just added it just in case you broke something :D :innocent:

[2022-02-09 10:28] vogloblinsky commented on #1140
Ok fixed, re-tried that in your Nestjs project :

- ```npm i -D https://github.com/compodoc/compodoc```
- run your compodoc command

[2022-02-09 10:50] SDAdham commented on #1140
Nice, many thanks @vogloblinsky & @philippjenni . You guys are honestly awesome. Can you please create the PR and release? :+1:

[2022-02-09 11:39] SDAdham commented on #1140
Can you please let me know once it's released so that I can update my `package.json` at my side?

[2022-02-09 21:21] #1203 closed

[2022-02-09 21:30] vogloblinsky commented on #1142
Seems to be fixed with my last test

<img width="294" alt="image" src="https://user-images.githubusercontent.com/2841805/153293252-3cb5ae30-6384-4d04-b59c-2d44e519a2b3.png">

[2022-02-09 21:30] #1142 closed

[2022-02-09 22:36] #1101 closed

[2022-02-09 22:39] vogloblinsky commented on #242
-> https://jsdoc.app/tags-inheritdoc.html

[2022-02-10 08:52] SDAdham commented on #1140
@vogloblinsky this issue has been opened since Oct 31, 2021, it's been 4 months, any chance that you can please release the fix?

[2022-02-10 20:31] #1099 closed

[2022-02-10 21:13] vogloblinsky commented on #1101
@stefan-schweiger did you use --disableInternal option ?

[2022-02-10 21:15] #500 closed

[2022-02-10 21:30] stefan-schweiger commented on #1101
Just looked, the repro uses `--disableInternal --disableProtected --disablePrivate`

[2022-02-10 22:31] vogloblinsky commented on #1101
Ok seems fixed.

[2022-02-11 22:52] #979 closed

[2022-02-12 20:28] vogloblinsky commented on #1195
@kroeder Cannot reproduce the bug with the demo project (https://github.com/compodoc/compodoc-demo-todomvc-angular) on Windows.
Could you make one with storybook installed ? thanks

[2022-02-16 11:26] luizfernando1996 commented on #1124
+1

[2022-02-16 13:06] Yehonal commented on #1088
Can we reopen this please?

[2022-02-17 13:56] kroeder commented on #1195
I can do that! It will take a bit of time, though. I don't have much time for OSS for the next 1-2 weeks
I'll give you feedback here as soon as I have a reproduction!

[2022-02-18 17:09] raghav-kanwal commented on #1124
+1. Getting this issue which is blocking me from using Storybook with Angular as well.

[2022-02-21 14:41] sir-captainmorgan21 opened #1216 "[FEATURE] - Ability to set RawTypes from dynamic custom typescript types"
##### **Overview of the feature**

Hi. I am looking for the ability to set RawTypes from dynamic custom typescript types.

##### **Motivation for or Use Case**

I have the following type defined

[code]

I am using Storybook. When defining types explicitly like `type MyType = 'test' | 'test1' | 'test2';` it makes a `rawType` property in the output for any properties that use that type. Storybook t

[2022-02-21 22:57] TheColorRed opened #1218 "[FEATURE] Support for @internal TS/JS Doc"
##### **Overview of the feature**

When doc is generated, it doesn't supply whether or not the method/property is internal.

`tsconf.json` supports the removal of definitions when built:
[code]

Since this is marked as internal it will be removed from the definitions file:

[code]

So once build (at least the json), it would look something like this:

[code]

[2022-02-22 15:36] TheColorRed commented on #1218
Looks like this is found within the `jsdoctags` selection.

[2022-02-22 15:50] TheColorRed opened #1221 "[BUG] @internal JSDoc not getting captured"
##### **Overview of the issue**

Methods are not picking up the `@internal` JSDoc

[code]
![image](https://user-images.githubusercontent.com/1571806/155167482-77ade2f1-8282-453f-975b-7ae0d8a9a7f7.png)

##### **Operating System, Node.js, npm, compodoc version(s)**

* Compodoc: 1.1.18
* Mac: 10.15.7
* Node: 16.13.2
* NPM: 8.1.2

##### **Compodoc installed globally or locally ?**

Locally

[2022-02-22 18:21] AliF50 commented on #1124
How I unblocked myself with regards to this error:

I clicked on the `parse.js:1083:17` error in the terminal (in VS Code, it should open up the file) and I was presented with a function that's similar to this:

![parse js](https://user-images.githubusercontent.com/22825890/155194259-27bb1048-69f2-410c-8451-8da505727db2.png)

I added the `console.log` (shown in picture) of line, column, parseState

[2022-02-22 19:02] vogloblinsky commented on #1124
@AliF50 Do you have an example of your spread syntax please ?

[2022-02-22 19:11] AliF50 commented on #1124
I think it was something like this:

`
const routes = [{
  path: 'abc',
  component: ComponentA,
}, {
  path: 'def',
  loadChildren: async () => (await import('./path/componentB')).ComponentBModule,
}].map(route => ({
   ...route,
   ...(route.component && canActivate: [FeatureGuard]),
   ...(route.loadChildren && canLoad: [FeatureGuard]),
}));
`

I am going off of memory but I am pretty sure it w

[2022-02-22 20:55] vogloblinsky commented on #1221
Did you use the option `--disableInternal`?

[2022-02-22 21:07] vogloblinsky commented on #1208
Can i have the syntax of `COMMERCE_DESIGN_POPUP_ROUTES`?
Just tested and works fine with something like this :
[code]

[2022-02-22 23:30] TheColorRed commented on #1221
No I didn't:

package.json:

[code]

[2022-02-23 07:15] vogloblinsky commented on #1221
Ok so this should works : `compodoc -p ./tsconfig.json --disableInternal -t -e json -d .`

[2022-02-23 15:07] TheColorRed commented on #1221
That does work for my current case, however, if I did want that generated, it wouldn't be there.

[2022-02-23 16:42] Kiran-gowdaa opened #1222 "[BUG] compdoc fails to run storybook for windows 10"
When trying to run storybook with `yarn storybook` in `windows 10` machine, `an unexpected error is thrown up:`

[code]
Machine: Windows 10
Angular version: 13.1.0
StoryBook version: 6.4.19

[2022-02-24 01:41] SDAdham opened #1224 "@philippjenni and @vogloblinsky: when will issue #1140 get released?"
@philippjenni and @vogloblinsky: when will issue https://github.com/compodoc/compodoc/issues/1140 get released?

Many thanks.

[2022-02-24 10:14] vogloblinsky commented on #1224
1.1.19 was just released

[2022-02-24 10:14] #1224 closed

[2022-02-24 10:41] lazaro3487 opened #1225 "[BUG] Error genering documentation"
Hello I am having this issue:

**The files path are:**

C:/Users/lazaro.garcia/Desktop/Work/webapp.git/client-ng/angular/src/app/app.routes.observer.ts
C:/Users/lazaro.garcia/Desktop/Work/webapp.git/client-ng/angular/src/app/app.routes.ts

**But compodoc internally it is transforming those paths like this:**

C:/Users/lazaro.garcia/Desktop/Work/pwc-webapp.routes.ts

**This happens with version 1.1

[2022-02-24 13:39] JakeBurchCR opened #1226 "[FEATURE] Add additional documentation to documentation.json"
##### **Overview of the feature**

Add the HTML generated from additional documentation to the exported `documentation.json` file.

##### **Motivation for or Use Case**

We have our own UI for generated data, into which we insert generated readme HTML for components/etc. We'd like to do the same with additional documentation. These readmes are converted to HTML, but aren't provided when exporting

[2022-02-25 10:03] ConxiCR opened #1228 "[BUG] problem with favicon"
tried to change the original compodoc favicon to another

[2022-02-25 10:19] vogloblinsky commented on #1228
@ConxiCR How did you try to do that ?
Can i have more informations please.

[2022-02-25 10:21] vogloblinsky commented on #1225
Is it possible to have more information about your routing in `app.routing.module.ts`?
The code using `pwc-webapp.routes.ts`

[2022-02-25 10:25] vogloblinsky commented on #1222
Did you tru to add quotes ?
`compodoc -p .storybook/tsconfig.json -d "C:\Users\Chandra Revanna\editor" -e json`
and if it is in an npm script :
`compodoc -p .storybook/tsconfig.json -d \"C:\Users\Chandra Revanna\editor\" -e json`

[2022-02-25 10:49] mhombach commented on #1225
We have the same problem right now. We verified that compodoc seems to look into the `app.routes.ts` file where we are doing `import { loginRoutes } from './routes/login.routes'` and it seems it takes the `login.routes` at th end and strips off the `.routes` part.
Because the error we are getting (it cannot find the file `routes.ts`) changes to it not finding the file `login123.ts` when we change

[2022-02-25 10:57] Kiran-gowdaa commented on #1222
Yap, I tried that as well few minutes back:

[code]

[2022-02-25 11:35] mhombach commented on #1225
I now narrowed the problem down.
It was introduced with version 1.1.16, and I think it's specifically this Merge here: https://github.com/compodoc/compodoc/pull/1148

Because that's where the correct filepath is converted into the wrong one.
In theory it could be also some other commit (see the full list here: https://github.com/compodoc/compodoc/compare/1.1.15...1.1.16) but I think that's highly

[2022-02-25 13:40] rasmus-e-christensen commented on #980
Same issue here

[2022-02-25 14:27] vogloblinsky opened #1229 "[BUG] Variable in component styleUrls"
![image](https://user-images.githubusercontent.com/2841805/155731873-76d288fc-d1a0-4554-bfe7-1b353af7f2aa.png)

![image](https://user-images.githubusercontent.com/2841805/155731897-511f7934-770a-46db-b8e5-4c70049ad470.png)

[2022-02-28 03:24] kulitha commented on #1000
I encountered this error after installing Storybook.js on my Angular 11 project and running the `npm run storybook` command. Here's the log. Any idea on how to fix this would be much appreciated.

[code]

**Edit: This error comes up when installing compodoc as well.**

[2022-02-28 08:57] vogloblinsky commented on #1000
@kulitha Can i have the sourcecode of the file parsed before this error ?

[2022-02-28 11:03] Kiran-gowdaa commented on #1222
FYI: After trying `compodoc -p .storybook/tsconfig.json -d "Users\Chandra Revanna\editor" -e json`, I was able to generate the documentation.

[code]
but landed up with the issue as posted after trying to start the `StoryBook`.

[2022-02-28 11:34] lazaro3487 commented on #1225
Yes, the same happens to me. Version 1.1.15 works fine and 1.1.16 introduced this problem.

[2022-02-28 15:20] vogloblinsky commented on #1225
@mhombach @lazaro3487 Can i have an example of your routing code failing please ?

[2022-02-28 18:36] mhombach commented on #1225
@vogloblinsky Will add the example from our companies current case tomorrow. If it helps, I can also try to create a minimalistic reproduction-poc then.

[2022-02-28 21:25] #1170 closed

[2022-02-28 21:26] vogloblinsky commented on #1225
@mhombach Fixed ;)

[2022-02-28 21:26] #1225 closed, assigned to nobody

[2022-02-28 22:40] mhombach commented on #1225
Thanks so much :) Will be looking forward to the `1.1.20` release^^
Also, since I was interested in  the fix, I had a look through the commit and made a comment for hopefully improve, I hope you don't mind =)

[2022-03-01 13:11] kulitha commented on #1000
Here is the file `doesFeed.ts` that's in the process of getting parsed when this error comes up.

[code]

[2022-03-02 11:43] rasmus-e-christensen commented on #1124
It seems to be something to do with the "..." notation that is causing trouble, in my case at least :) I want to use on a big project and can only use the minimal use of compodoc, which is helpful but not that much.

[2022-03-07 10:45] nitoloz commented on #1222
@vogloblinsky do you have any ideas how we can support you to investigate this issue further?
I assumed that a space in username (`\Chandra Revanna\`) might be an issue, but I'm not sure and changing it will be quite problematic.

[2022-03-07 13:00] vogloblinsky commented on #1222
@nitoloz I need for example an help on a setup Storybook in a simple Angular project. I think duplicating this [demo project](https://github.com/compodoc/compodoc-demo-todomvc-angular) with Storybook included (for not complicating this simple demo project)

[2022-03-07 13:05] vogloblinsky commented on #1222
@nitoloz I need an example project with Sotrybook installed.
I think duplicating this [demo project](https://github.com/compodoc/compodoc-demo-todomvc-angular) with Storybook included : https://github.com/compodoc/compodoc-demo-todomvc-angular-storybook. I don't want to install Storybook in the first simple demo project for keeping it simple and Compodoc focused.

[2022-03-07 14:16] vogloblinsky commented on #1222
@nitoloz Did i need to use this addon ? https://storybook.js.org/addons/storybook-addon-compodoc Seems old and not updated since three years.
I didn't found an clear example of an Angular component documented in Storybook with Compodoc informations...

[2022-03-07 15:39] okadurin opened #1233 "[BUG] Missing jsdoctags for a component"
##### **Missing jsdoctags for a component**

##### **Mac os, node 14, npm 6**

##### **Angular 12**

##### **Compodoc installed locally**

When running `compodoc -p ./tsconfig.base.json --disableTemplateTab --disableGraph --disablePrivate --disableInternal --disableLifeCycleHooks --disableRoutesGraph --disableSearch --exportFormat json`

the `documentation.json` doesn't contain `jsdoctags` for a c

[2022-03-10 23:30] syndesis commented on #1124
I'm seeing it break in a similar way on a route like this:

[code]

it dies on the `.` in `FeatureFlags.FOO_FLAG`

This may be related to https://github.com/json5/json5/issues/249

[2022-03-11 13:56] edjm1971 opened #1235 "[BUG] Navigation menu always expands after they have been collapsed and I click something in the navigation"
##### **Overview of the issue**

When I click on any of the navigation items in the left and I have closed / collapsed the menus the menus expand upon loading of the page I clicked.

##### **Operating System, Node.js, npm, compodoc version(s)**

CENTOS7

##### **Angular configuration, a `package.json` file in the root folder**

  "name": "myapp-ui",
  "version": "0.1.0",
  "browser": {
    "fs": f

[2022-03-11 19:58] SunilManthenaG01 commented on #1208
@vogloblinsky  I have the same issue when using the spread operator in the route. Below is my observation.

If we use a spread operator which exists in that file I don't see any issue but if you import that const (COMMERCE_DESIGN_POPUP_ROUTES ) from a different file then I see the issue.

I can create a repo if you would like. please let me know.

[2022-03-17 10:42] ki-ichino-nec opened #1239 "[BUG] Invalid links to a class when the class name includes an interface name"
##### **Overview of the issue**

CompoDoc cannot create proper links to a `class` when the class name includes an `interface` name.
CompoDoc generates links to the `interface` instead of the `class`.

##### **Operating System, Node.js, npm, compodoc version(s)**

* OS: Windows 10, Rocky Linux 8
* CompoDoc: 1.1.16, 1.1.19

##### **Angular configuration, a `package.json` file in the root folder**

*

[2022-03-18 14:54] SunilManthenaG01 commented on #1208
@vogloblinsky did you get a chance to reproduce this issues ?

[2022-03-21 08:02] admir86 commented on #1124
same problem when using `TimeUserEntry.JOB_DESIGNATION` direct in the `userEntries`. Using `TimeUserEntry.JOB_DESIGNATION` via a const works
[code]

[2022-03-22 10:37] #1239 closed, assigned to vogloblinsky

[2022-03-22 18:59] rasmus-e-christensen commented on #1166
There are some examples of this bug in #1124 but whether they are used with Storybook is a good question.

[2022-03-23 10:22] CSantosM opened #1241 "[FEATURE] Add specifyc id in each html component"
##### **Overview of the feature**

It is possible to include unique id's describing the content of each html element? For example, in Component html:

[code]

This will help to add styles much easier

##### **Motivation for or Use Case**

I'm trying to hide some doc sections as _Getting Started_, _Metadata_ and _Accessors_. I've read the option documentation which compodoc provides to me but is no

[2022-03-24 09:18] technsmile commented on #962
**It works !**

You have to change the encoding of the file **summary.json** to **UTF8**.
That's what's blocking the parsing.
My file was generated using Visual Studio in *UTF8-BOM*

After changing encoding of the file using Notepad++ CompoDoc is able to grab and parse the **summary.json** file.

[2022-03-24 09:29] vogloblinsky commented on #962
@technsmile @alexcarrasco93 If there is a problem with UTF8 encoding support, please fill an issue for that. Thanks

[2022-03-25 00:17] #1241 closed, assigned to vogloblinsky

[2022-03-31 16:31] BirgitNoegel commented on #1195
Hello,
maybe I have the similar problem in the uploaded project. The base path is: c:\projekte\.
On calling 'npm run storybook-build' everything is ok - on calling 'npm  run storybook-watch' I get the following error:

The storybook can be opened, but is does not contains the Docs.

Here are some details about my windows-machine:
Edition	Windows 10 Enterprise
Version	21H2
Betriebssystembuild	19044

[2022-04-04 20:42] SunilManthenaG01 commented on #1208
@nutangwari  Did  you able to solve this issue ?

[2022-04-06 13:29] TomaszKasowicz opened #1246 "[BUG] favicon path should be relative to .copodocrc.json location"
##### **When generating docs from inside library folder (i.e `libs/libraryA`)  in monorepo the compodoc reads the `.compodocrc.json` from the project root folder and if `favicon` is defined it tries to read it relative to the current working dir which in this case is the library folder (i.e `libs/libraryA`). The read fails with ENOENT and therefore docs generation fails**

##### **Mac OS 12.3.1, N

[2022-04-08 00:23] asennyey commented on #954
For anyone finding this later than the above thread, it is still kind of an error if you use prettier with trailingComma set to "es5", the parser is assuming that the javascript object will be proper JSON.
To fix this, set trailingComma to none.

[2022-04-08 17:18] asennyey opened #1247 "[BUG] Unable to parse Router that contains an arrow function for runGuardsAndResolvers"
##### **Overview of the issue**

The following line of code
`runGuardsAndResolvers:(crt, next) => {
  return (
    !crt.url.every((s, i) => s.path === next.url[i].path) ||
    !matchIgnoreFilterParams(crt.queryParams, next.queryParams)
  );
}`
is being transferred directly to the JSON as
`"runGuardsAndResolvers":("crt","next")=>{("crt.url.every((s,i)=>s.path===next.url[i].path)""matchIgnoreFilterP

[2022-04-12 12:07] haleysulcer opened #1249 "[FEATURE] Ability to adjust the order in which method calls appear"
##### **Overview of the feature**

Currently, the component and service methods appear in alphabetical order. I want the ability to have the method calls appear in the order in which they appear in the code.

##### **Motivation for or Use Case**

I organize them in a particular way from the top, and I'd want the documentation to reflect that.

Because they're being shown in alphabetical order, the

[2022-04-16 04:27] #1137 closed

[2022-04-16 04:27] #1139 closed

[2022-04-16 04:27] #1138 closed

[2022-04-19 13:13] officialbidisha opened #1251 "[FEATURE]"
##### **Overview of the feature**

In the Info Tab, can we hide the Index property somehow?

##### **Motivation for or Use Case**

In my use case, there are only two properties in a component. The Input and Output parameter in Angular. So just for these 2 parameters, having an Index propery in Info tab feels redundant. Can we please have a feature to hide it?

##### **Related issues**

![IndexProp

[2022-04-20 15:26] Voo2 opened #1252 "Replacing placeholder"
I search a feature to replace certain placeholder.

For example, I want to write "* @param {number} type The type of the item. It must be not [null]." in the code documentation, which becomes `<span class="code null keyword" title="Beware of the Null Reference!">null</span>` when generating the compodoc documentation.

We have more useful use cases, of course.

[2022-04-25 04:23] #1149 closed

[2022-04-25 04:23] #1154 closed

[2022-04-25 04:23] #1126 closed

[2022-04-25 04:23] #1163 closed

[2022-04-25 04:23] #1156 closed

[2022-04-25 04:23] #1165 closed

[2022-04-25 04:23] #1143 closed

[2022-04-25 04:23] #1168 closed

[2022-04-25 04:23] #1169 closed

[2022-04-25 04:23] #1106 closed

[2022-04-25 04:23] #1193 closed

[2022-04-25 04:23] #1174 closed

[2022-04-25 04:23] #1197 closed

[2022-04-25 04:23] #1066 closed

[2022-04-25 04:23] #1192 closed

[2022-04-27 01:27] sir-captainmorgan21 commented on #1216
Bumping

[2022-04-28 15:46] janstadt opened #1253 "Handlebar Template Overrides"
##### **Overview of the issue**
Im not seeing the pages.hbs file getting overridden when i use the `--templates` argument via the CLI or the `templates` property in the compodocrc.json file.

Have a `pages.hbs` file in a folder titled `templates`.

`npx @compodoc/compodoc -d ./docs/.debug -p ./docs/tsconfig.doc.json --templates ./docs/templates`

##### **Operating System, Node.js, npm, compodoc ve

[2022-04-29 17:12] janstadt commented on #1253
Slightly unrelated, but i see there is a reference to bootstrap-native and its like 4 years old. Any chance that could be updated? Im trying to render some example pages using existing libs in the `js/libs` directory and am getting an error with tabs not firing. If i replace the reference to `js/libs/bootstrap-native.js` with `https://cdn.jsdelivr.net/npm/bootstrap.native@3.0.15/dist/bootstrap-nat

[2022-04-30 06:54] mbeckenbach opened #1254 "[QUESTION] Multiple Documentations in Mono Repo"
Hey,

i have seen your advice on how to use compodoc in NX Workspace and I was wondering how to build the docs into separate directories per app / lib.

The goal is to have a publishable docs folder per tsconfig.

Like

/docs/apps/my-app
/docs/apps/foo-app
/docs/libs/some-lib

this would fit perfectly into the Nx workflows

[2022-05-02 10:16] #1221 closed

[2022-05-03 07:20] sandeeppatidar30 opened #1257 "Component .md files not detected in stencil project"
##### **Overview of the issue**

Component's .md file not get detected in stencils project. It does not add README tab in compodoc running instance.
following is the structure of components -

[code]
It does not detect any of above readme.md file

##### **Operating System, Node.js, npm, compodoc version(s)**

OS - Windows10
Node.js: 16.10.0
npm: 7.24.0
compodoc: 1.1.19

##### **Angular configurati

[2022-05-03 13:10] ghost commented on #1124
I had a similar problem, my issue happens when using an enum value inside the paths of an angular routing module.
[code]

The issue is that the JSON the compodoc generates does not resolve the enum value and takes the literal value (here it puts the value as `View.Main` or `View.Secondary`, the dot accordingly causes the problem.

@admir86's solution worked in that case

[2022-05-05 22:48] zoutre opened #1258 "[BUG] Code blocks are not properly rendered in the README.md file"
##### **Overview of the issue**
I'm not sure if I'm doing it right, but I just can't get it to work. I'm using the same example as you have on your demo app README.md.

This is the code I add to the readme file (which seems to work in the issue but not on my page):
[code]
Result is
``` function test() { console.log("notice the blank line before this function?"); } ```

What I'd like to do is add b

[2022-05-09 01:20] zoutre commented on #1258
nvm.. I figured it out.

Hidden comment in the source was coded incorrectly.

Closing - Not a bug, but an issue with my code.

[2022-05-09 01:20] #1258 closed, assigned to vogloblinsky

[2022-05-17 13:11] Fitzchev opened #1259 "[FEATURE] exclude some files from being "scanned" for documentation coverage"
##### **Overview of the feature**

I want to be able to exclude some files from being "scanned" for documentation coverage, but keep them in the documentation.

##### **Motivation for or Use Case**

I have some interfaces which are auto-generated by a script _(dependency with another system)_  and so cannot be touched to add documentation _(it could be regenerated anytime)_. They are all saved in

[2022-05-23 07:01] admir86 commented on #1208
Same problem. Have to use following workaround:

[code]

instead of:
[code]

error (is confusing):
![image](https://user-images.githubusercontent.com/36576424/169761965-b17e0a46-0ea4-4f40-975a-96e35c4e8f9a.png)

[2022-05-23 13:10] kamruzzaman opened #1260 "Please look at this issue , i was unable to build compo doc"
Please look at this issue , i was unable to build compo doc
Error during generation of routes JSON file, maybe a trailing comma or an external variable inside one route.
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '.' at 1:74
      at syntaxError (E:\MOFLFRONTEND\MoFL-UI\node_modules\json5\lib\parse.js:1083:17)
      at invalidChar (E:\MOFLFRONTEND\MoFL-UI\

[2022-05-23 15:56] Voo2 opened #1261 "[FEATURE] Support of type params"
##### **Overview of the feature**

In our project, generic classes occur very frequently. Therefore it would be important that there is a way to label the type parameters, e.g. with @typeparam.

##### **Motivation for or Use Case**

This is an example how it could be solved:

[code]

##### **Related issues**

A similar issue but closed is this: https://github.com/compodoc/compodoc/issues/692

[2022-05-24 15:20] TheColorRed opened #1262 "[BUG] JSDoc code fence breaking in the component "description" field."
##### **Overview of the issue**

When using a code fence in the description, the code is rendering part of the fence:

[code]

---

Here is what is generated on the page:

![image](https://user-images.githubusercontent.com/1571806/170070549-71d3613f-a049-43c3-b281-340015d54f67.png)

---

Here is what is generated in vscode:

![image](https://user-images.githubusercontent.com/1571806/170070808-af1a

[2022-05-27 09:09] GhadaAJIMI opened #1264 "[BUG] I get a loop of errors after creation the documentation"
After I generate the documentation with the command:
compodoc -p tsconfig.app.json -s

I get this error:
Copy main resources
Documentation generated in ./documentation/ in 10.203 seconds using gitbook theme
Serving documentation from ./documentation/ at http://127.0.0.1:8080

ERROR: Error: UNKNOWN: unknown error, watch
    at FSWatcher._handle.onchange (node:internal/fs/watchers:204:21) {
  errno:

[2022-05-27 13:47] fhaag opened #1265 "[FEATURE] Custom documentation tags"
##### **Overview of the feature**

Beside the pre-defined tags such as `@param` or `@return`, it would be helpful to register some kind of handlers for expanding custom tags specific to the current project or organisation.

##### **Motivation for or Use Case**

In our projects, we regularly encounter situations where we would like to add certain pieces of information to many documentation topics a

[2022-05-29 19:00] Voo2 commented on #1261
or is there any way how I can solve it by myself?

[2022-05-31 08:45] officialbidisha opened #1267 "[BUG] - Types are not supported in documentation."
##### **Overview of the issue**
On clicking on the type of a varible in Typescript, it is not redirecting to the type rather it is redirecting to some other random class definition

An image

##### **Compodoc installed globally or locally ?**

locally

![opt](https://user-images.githubusercontent.com/49115207/171132052-bdfd2f79-0f93-4ed1-9fc2-018f18d19c9d.PNG)

On Clicking the above image, the pag

[2022-05-31 14:08] Voo2 commented on #1253
I have the same problem. For me, this feature is incredibly important, which is why I'm also very interested in seeing that there is a solution.

[2022-05-31 14:11] vogloblinsky commented on #1267
Hi, so if i understand well, you click on DataGridConfigOptions and you go to Option.html page ?

[2022-05-31 14:13] vogloblinsky commented on #1264
Hi,
in which version of Node.js, Compodoc ?

[2022-05-31 14:21] officialbidisha commented on #1267
Yes, that's right @vogloblinsky

[2022-05-31 14:22] vogloblinsky commented on #1267
DataGridConfigOptions is also a class ?

[2022-05-31 14:26] officialbidisha commented on #1267
It's a type @vogloblinsky

[2022-06-01 06:10] officialbidisha commented on #1267
Please have a look at this @vogloblinsky .

`
export type DataGridConfigOptions = {
  bordered?: boolean;
  uniqueField?: string;
  sortMode?: string;
  customSort?: boolean;
  lazy?: boolean;
  rowsPerPage?: number;
  autoLayout?: boolean;
  paginator?: boolean;
  alwaysShowPaginator?: boolean;
  showCurrentPageReport?: boolean;
};`

[2022-06-01 07:29] Voo2 commented on #1253
btw: menu.hbs and other files don't works either

[2022-06-04 18:08] paolo-e opened #1268 "[BUG] Issues with stand alone components"
Angular 14 is brand new, so it is expected and I don't know if this is a bug or a feature request, but there are issues when loading a module with `loadComponent', with the new stand alone components feature.

Compodoc is installed locally and worked fine until the new feature was introduced.

This is reproducible by creating an angular 14 project, adding a stand alone component and loading it in

[2022-06-06 12:31] GhadaAJIMI commented on #1264
I found out that it is related to the number of file watchers in my pc.
When I launch angular with "ng serve", node js with "nodemon" and the tests and the documentation, there is so much files to watch and there isn't enought watchers for all of them.
I found how to add more in linux but not in windows.
As I launch my front and back, the cpu used reaches 75% and this makes the wachers loop error.

[2022-06-07 08:06] vogloblinsky commented on #1268
Can you explain a little more how you load it in your module ?

[2022-06-07 08:11] vogloblinsky commented on #1268
Ok reproduced with lazy-loading.

[2022-06-07 09:41] vogloblinsky commented on #1268
First support coded, need to add unit tests later this week

[2022-06-13 19:13] CharlineCouchot opened #1270 "[FEATURE] Option to disable dark mode entirely"
Hi!

I looked around in the opened and closed issues and I found a flag to disable the toggle for the dark theme, but not an option to disable the dark theme entirely.
Even when trying to override the theme with an external custom one, the dark variation is always loaded and seems to be hard-coded.
Would it be possible to allow disabling it?

Thank you

[2022-06-15 14:54] fseee opened #1271 "[BUG] overview.html page is broken due to wrong href path"
Generated overview.html page has a bad render since has broken references to .css and .js files.
Most of css styles are not applied and the navigation bar is absent.

Operating system: Windows 10
Node Version: v14.15.5
Angular Version: 13.2.2
Compodoc Version: 1.1.19 (installed locally)

Generating command used in package.json is below:

`compodoc --hideGenerator --theme material -p tsconfig.json`

[2022-06-17 17:07] msaf9 opened #1272 "[BUG] Files missing in unit-test coverage (just like in #664)"
##### **Overview of the issue**

Just like in #664, I am not able to view the unit test coverage table content. I tried to replace the `\\` with `/`, but this didn't help me.

##### **Operating System, Node.js, npm, compodoc version(s)**

Operating System: Windows 10
Node.js: v16.15.1
npm: 8.12.0
compodoc: 1.1.19
##### **Angular configuration, a `package.json` file in the root folder**

[code]
###

[2022-06-21 11:03] eeschiavo commented on #1262
Same problem here. I would add that the class is always language-html, also using for example ```ts or ```js

[2022-06-22 07:06] simbo opened #1273 "[FEATURE] enable to ignore directories like angular cache and others"
##### **Overview of the feature**

Since angular 13 there are cache files created within a project in `.angular/cache/`.
If you use yarn 3, you are having a lot of files in `.yarn/cache/`.
If you are using husky for git hooks, you got files in `.husky/`.
Depending on your project you may have other files in your projects subdirectories - probably a lot of them.

All these files do not mess up the

[2022-06-23 18:09] kussmaul opened #1274 "[BUG] /** style comments"
##### **Overview of the issue**
If two `/**` style comments precede a code element, the second is silently ignored.
I encountered this in source files with a header comment  (with @file, @author, etc) immediately followed by a comment for a code element - see example below.

##### **Operating System, Node.js, npm, compodoc version(s)**
- OS: Fedora Core 5.17.4-100.fc34.x86_64
- node: 8.13
- compod

[2022-06-28 13:35] twlite opened #1275 "[BUG] Example not rendered properly"
##### **Overview of the issue**
Looks like the `@example` is not being rendered properly.
![image](https://user-images.githubusercontent.com/46562212/176191103-050d4f12-69c8-49a0-b5a7-a3633eb290be.png)

##### **Operating System, Node.js, npm, compodoc version(s)**

website: https://illustrator.js.org/classes/imageloader
compodoc version: v1.1.19
node version: v18
docs generator: https://github.com

[2022-06-29 07:45] teslaji opened #1276 "[FEATURE] official compodoc support for NX workspace"
##### **Wrapper for Nx workspace**

[Nx Plugin](https://nx.dev/core-concepts/nx-devkit) to generate documentation via [Compodoc](https://compodoc.app/).
Generator support to Add Compodoc target to a project.
The executor support several configuration options that are passed to the Compodoc command.
Recipes.
Watch Mode.
Integration with @nrwl/storybook

##### **Motivation for or Use Case**
Scaffold

[2022-06-29 07:49] teslaji commented on #1254
@mbeckenbach can you point me to his comments where he has advice for nx workflow. I am struggling to set up compodoc for the individual angular projects within the nx workspace.

[2022-06-29 10:08] maxbebaasuro commented on #1254
@teslaji In the meanwhile i figured out that this is actually supported for a while. Not 100% as it generates one for all projects like that but very useful. In the compodoc docs you actually find a hint on nx workspace. Its mentioned only once, you will find it.

https://www.npmjs.com/package/@twittwer/compodoc#workspace-docs

[2022-06-29 11:41] teslaji commented on #1254
@maxbebaasuro Yes, just came across this npm package, implementation is pretty straightforward. if you run the generator for the app name with `workspaceDocs` flag it generates tsconfig.compodoc.json for each project/app root. I am really hesitant to use this npm dep. maybe compodoc should collaborate with NX to create the nx-plugin. I've made a request for the enhancement but not sure if @voglobl

[2022-06-30 06:33] mbeckenbach commented on #1254
@teslaji what are your concerns about this npm package? I had a look at the sources and didn’t find anything unusual.

[2022-06-30 07:08] teslaji commented on #1254
@mbeckenbach Nothing in terms of security but IMO repo with a single contributor could be a significant downside. Just hesitant to use this in any prod env. I wish compodoc adopt him with PRs or an official nx-plugin.

[2022-06-30 09:38] maxbebaasuro commented on #1254
@teslaji I know what you mean. But have a look at the repo. It is no rocket science, so even if that guy gives up you can fork it easily.

[2022-06-30 09:44] vogloblinsky commented on #1254
@teslaji Is it possible to have a link to a repo with a simple codebase where nx workspace is implemented ?
I will try to create a demo repo and add support for that easily in compodoc
Thanks

[2022-06-30 10:06] teslaji commented on #1254
@vogloblinsky  @nrwl has shared demo monorepo with angular and react apps using nx workspace. They keep this repo updated with new versions of nx and nx cli.

[https://github.com/nrwl/nx-examples.git](https://github.com/nrwl/nx-examples.git)
/apps/cart ----- react app
/apps/product --- angular app

[2022-07-01 15:43] SLEBB commented on #1222
@vogloblinsky , Helo,
Why did you put it at wontfix ? I think it's necessary that it work with any kind of path. Could youy please re-open it ?

[2022-07-08 18:47] msaf9 commented on #1272
@vogloblinsky
Can you please help me on this?

[2022-07-10 19:06] #1233 closed, assigned to vogloblinsky

[2022-07-10 19:06] #1235 closed, assigned to vogloblinsky

[2022-07-10 19:07] #1166 closed

[2022-07-10 19:07] #1246 closed, assigned to vogloblinsky

[2022-07-10 19:07] #1195 closed

[2022-07-10 19:07] #1249 closed, assigned to vogloblinsky

[2022-07-10 19:07] #1247 closed, assigned to vogloblinsky

[2022-07-10 19:08] #1229 closed, assigned to vogloblinsky

[2022-07-10 19:08] #1228 closed, assigned to nobody

[2022-07-10 19:08] #1226 closed, assigned to vogloblinsky

[2022-07-11 08:16] Voo2 commented on #1252
Still waiting

[2022-07-11 08:24] vogloblinsky commented on #1252
Hi,

can i have an example of source code please ?

[2022-07-11 11:02] Voo2 commented on #1252
A code example does not explain it so well.

Basically, it is about a possibility to define templates and their corresponding placeholders, which are then placed at the position where the placeholders were used.

If I use **myPlaceholder** somewhere as a placeholder, then Compodoc should insert the corresponding template at this point.

It is more or less a myDocumentation.replace("**myPlaceholder

[2022-07-11 11:53] RobertKolman commented on #1222
Remove the space from the project folder name. "Chandra Revanna" => "Chandra_Revanna".
It fixed issue on my side.

The compiler thinks that this space is the end of file path:
C:\Users\Chandra Revanna\editor

[2022-07-12 03:30] sir-captainmorgan21 commented on #1216
bumping

[2022-07-18 09:52] simbo commented on #759
@jepstein-eagle I am on `"@compodoc/compodoc": "1.1.19"` and none of these cli options are working.
has this ever been merged?

[2022-07-18 18:11] jepstein-eagle commented on #759
Hey, thanks for checking into this @simbo after a few days, haha! I also tried, and I do not think this functionality has been merged yet...

[2022-07-21 12:30] divyeshjethwa commented on #1124
I followed your steps the same way. Added console.log in the parse.js and it pointed out what was causing the problem
You rock

[2022-07-28 21:20] paolagodoy commented on #980
Same issue here
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '(' at 1:1
      at syntaxError (/node_modules/json5/lib/parse.js:1083:17)
      at invalidChar (/node_modules/json5/lib/parse.js:1028:12)
      at Object.value (/node_modules/json5/lib/parse.js:287:15)

[2022-07-28 21:26] paolagodoy opened #1277 "SyntaxError: JSON5: invalid character"
I´m having this issue when I´m trying to generate the documentation
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '(' at 1:1
      at syntaxError (/node_modules/json5/lib/parse.js:1083:17)
      at invalidChar (/node_modules/json5/lib/parse.js:1028:12)
      at Object.value (/node_modules/json5/lib/parse.js:287:15)
      at lex (/node_modules/json5/lib/parse.

[2022-07-28 21:35] paolagodoy commented on #959
I have the same issue!!!
Unhandled Rejection at: Promise {
SyntaxError: JSON5: invalid character '(' at 1:1
at syntaxError (/node_modules/json5/lib/parse.js:1083:17)
at invalidChar (/node_modules/json5/lib/parse.js:1028:12)
at Object.value (/node_modules/json5/lib/parse.js:287:15)
at lex (/node_modules/json5/lib/parse.js:78:42)
at Object.parse (/node_modules/json5/lib/parse.js:25:17)
at loopModule

[2022-07-31 09:23] fhaag commented on #1265
This issue is still unsolved and relevant for me.

[2022-07-31 20:56] #1124 closed

[2022-07-31 20:57] #1251 closed, assigned to vogloblinsky

[2022-07-31 20:58] #1257 closed, assigned to vogloblinsky

[2022-08-02 12:54] spyro2000 commented on #1124
Still same problem with 1.1.19.

In routes:

Explodes:
[code]

Runs:
[code]

Did only find that out by debugging the json builder.

[2022-08-03 18:58] wehmoen opened #1280 "[BUG] Invalid url generated"
##### **Overview of the issue**

When generating docs for my nestJS project compodoc seems to mess up some urls.
An HTML file for `TicketEntity` is successfully generated and stored at `./documentation/entities/TicketEntity.html` and accessable through the main menu. However in all other places this entity is linked as `./documentation/entitys/TicketEntity.html`. Not sure why or how this happens b

[2022-08-09 12:57] Ajinkya222 opened #1282 "[BUG] After using compodoc library the resulted html file contains sonar security hotspot for anchor tag having attribute=_blank"
After using compodoc library the resulted html file contains sonar security hotspot for anchor tag having attribute=blank[BUG]

Need to add  attribute rel="noopener" on anchor tags  manually on anchor tag in  each generated .html file .

[2022-08-12 13:28] #1282 closed, assigned to vogloblinsky

[2022-08-12 14:08] vogloblinsky commented on #1280
Is there link to TicketEntity in the codebase ?
In which html file in the generated documentation the term "entitys" is available ?

[2022-08-14 12:08] kkrishnakv opened #1284 "[BUG] How to add the base href in the index.html"
##### **Need to add base href in the index.html**
I'm deploying the documentation in Azure CDN as subfolder as documentation, As i'm unable to adding the base href in the index.html, getting the below error.

![image](https://user-images.githubusercontent.com/17341768/184535863-abb7a786-33b1-4cae-868d-63828e69d1bb.png)

After adding the base href in the index.html

![image](https://user-images.git

[2022-08-16 12:59] Voo2 commented on #1261
written something so that it is not closed automatically.

[2022-08-16 19:57] MikeMatusz commented on #1233
@vogloblinsky should this be reopened? I'm on 1.1.19 and I don't see `jsdoctags` generated for any top-level entity (e.g. components, pipes, injectables, etc.)

[2022-08-17 13:59] rgant opened #1285 "[BUG] Warning: no hard-coded metrics for 'sans-serif'."
##### **Overview of the issue**

I get these warnings when building the docs:
[code]
Last message is repeated 100 more times.

What does this warning mean? It doesn't appear important, so how can I fix it or silence it?

##### **Operating System, Node.js, npm, compodoc version(s)**

$ npm --version
6.14.17
$ node --version
v14.19.2

Compodoc v1.1.19

##### **Angular configuration, a `package.json`

[2022-08-17 16:27] martingraham opened #1286 "[FEATURE] Export node / links of graph into graph folder along with svg"
##### **Overview of the feature**

Output the raw data structure (the nodes and links) of the graph. I'm not locked into a particular format, but it'd be good to pick one that say Gephi could use: https://gephi.org/users/supported-graph-formats/

##### **Motivation for or Use Case**

There's been a few requests for improvements to the graph layout as it gets cluttered and hard to see details for l

[2022-08-22 20:53] paolagodoy commented on #1260
HI, I have the same issue. Angular 10

[2022-08-22 20:56] paolagodoy commented on #1260
The only way to make it work was adding --minimal but I need graphs, dependencies and searchs
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '(' at 1:1
      at syntaxError (//node_modules/json5/lib/parse.js:1083:17)
      at invalidChar (//node_modules/json5/lib/parse.js:1028:12)
      at Object.value (//node_modules/json5/lib/parse.js:287:15)
      at lex (/

[2022-08-22 20:58] paolagodoy opened #1287 "[BUG] SyntaxError: JSON5: invalid character '(' at 1:1"
Hi I´m not available to run compodoc
------------
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '(' at 1:1
      at syntaxError (//node_modules/json5/lib/parse.js:1083:17)
      at invalidChar (//node_modules/json5/lib/parse.js:1028:12)
      at Object.value (//node_modules/json5/lib/parse.js:287:15)
      at lex (//node_modules/json5/lib/parse.js:78:42)

[2022-08-23 21:22] daryakalenik opened #1288 "Error: ENOENT: no such file or directory"
Hi! So there's a problem when i'm trying to use ''nx run shared:compodoc:json" in my angular project. I'm getting the following error:

`Unhandled Rejection at: Promise {
  <rejected> Error: ENOENT: no such file or directory, open 'D:\WORK\WB\front\handheld-front\C:\Users\Darya\AppData\Local\Temp\compodoc-includes-Bb5CZb\features-sorting-center-manager.md'
      at Object.openSync (node:fs:599:3)

[2022-08-23 22:37] #1288 closed, assigned to nobody

[2022-08-29 22:39] ezbeazy commented on #1284
I don't think it's actually a baseUrl issue as all of the file pages are relative to the compodoc document directory. Check out this project on how various platforms handle and serve urls differently.

[https://github.com/slorber/trailing-slash-guide](https://github.com/slorber/trailing-slash-guide)

I'm attempting something similar to you. I want to deploy generated compodoc files to a subdirecto

[2022-09-01 12:48] ElfenB commented on #1124
This is also an issue for me. I can temporarily fix it by removing the '.' within the require statement but I wouldn't consider this a fix because of course I have to change it after every new npm install ...

`parse.js`
[code]

`terminal output (excerpt)`
[code]

[2022-09-02 13:49] bstrob commented on #1272
I just ran into the same issue. Did you find a solution @msaf9 ?

[2022-09-03 07:47] msaf9 commented on #1272
Nope @bstrob, I didn’t find any resolution for this. Waiting since very long, I have tried to tweak the path by providing absolute and relative, and then by replacing \\ with /. Still no luck.
Let me know if you got it by any means.

[2022-09-03 16:12] bstrobach commented on #1272
@vogloblinsky I saw that you committed a possible solution to #664 and this one. But it seems the problem still exists. Can you have another look into it? Let me know if you need any further information on it. Thank you very much.

[2022-09-04 08:12] bstrob commented on #1272
@vogloblinsky I saw that you committed a possible solution to #664 and this one. But it seems the problem still exists. Can you have another look into it? Let me know if you need any further information on it. Thank you very much.

[2022-09-05 11:52] imike57 opened #1289 "[FEATURE] TS Types of generated JSON doc"
Hello,

I'm using compodoc with json export to implement the doc in an external application.

But the JSON do not necessarily include all use case. That's why I'm looking for a TS Types of the JSON export which could be a great help.

I tried to search around the compodoc source, but I see nothing about it.

Maybe it's something that existe already ?

[2022-09-05 14:35] kkrishnakv commented on #1284
I tried by adding the basehref in the compoc Index.html and its starts working fine in the Azure blog with CDN.

[2022-09-19 00:17] #1280 closed, assigned to vogloblinsky

[2022-09-23 13:47] sir-captainmorgan21 commented on #1216
bumping

[2022-09-26 09:46] karol719 opened #1290 "[BUG] When navigating from module to export file it opens blank page"
##### **Overview of the issue**
When navigating from module to export file it opens blank page. I have NestJS module which uses ServiceA as provider and export it. If I click on ServiceA in providers list it goes to this service correctly, but when I click it from exports list it goes to blank page.

##### **Operating System, Node.js, npm, compodoc version(s)**
Compodoc 1.1.19

##### **Compodoc in

[2022-09-30 06:54] cicarulez commented on #1253
Interesting functionality, too bad it is not even documented.

It would be useful to be able to use it.

[2022-09-30 09:02] emekaelo opened #1291 "[FEATURE] UI/UX like Docusaurus or Vue3 docs"
##### **Overview of the feature**

I would really love for this project to have a user interface + functionalities like [Docusaurus](https://docusaurus.io/docs) or [Vue3 docs](https://vuejs.org/). Maybe it can be added as an option flag when generating the documentation. I quite enjoyed the [Docusaurus showcase](https://docusaurus.io/showcase)
##### **Motivation for or Use Case**

I feel this feat

[2022-09-30 13:48] janstadt commented on #1253
@vogloblinsky can you provide an update here? stalebot marked it as `wontfix` but i see its on your milestone for 1.1.20.

[2022-09-30 15:33] rgant commented on #1285
Any idea what this could be?

[2022-09-30 22:29] #1290 closed, assigned to vogloblinsky

[2022-10-06 14:50] clicktodev commented on #1291
Vue 3 docs are built on top of [Vitepress](https://vitepress.vuejs.org/).
I agree that switching to Vitepress would be superb.

[2022-10-11 08:05] maxbronnikov10 opened #1292 "[BUG] Compodoc generate link with "s" folder, but dont generate folder"
##### **Operating System, Node.js, npm, compodoc version(s)**

ubuntu, node 16.17.0, npm 8.15.0, compodoc 1.1.19

##### **Compodoc installed globally or locally ?**

globally

### my source code
project on nets js

[code]

##### **If possible sourcecode of the file where it breaks**
code in my html:

[code]

i think error in this:

https://github.com/compodoc/compodoc/blame/c8379e04d71409ba147be2a

[2022-10-17 06:32] moczix opened #1293 "[BUG] Router parse errors"
i have three issues about router parse:

**1. Routes parsing error, maybe a trailing comma or an external variable, trying to fix that later after sources scanning.**
-> SyntaxError: JSON5: invalid character '(' at 1:29

my Module with route:
[code]

**2. Unhandled Rejection at: Promise {
  <rejected> InvalidOperationError: Could not find the node's symbol.**
my module with routes:

[code]

the is

[2022-10-17 14:57] chadsixt opened #1294 "[BUG] When running the "npm run storybook' command"
[07:54:56] found          : SearchResultComponent
Unhandled Rejection at: Promise {
  <rejected> SyntaxError: JSON5: invalid character '.' at 1:178
      at syntaxError (C:\Users\DoD_Admin\Documents\AngularCAMEO\v22-core-angular-initiative\v22-core-angular-initiative\cameow
\node_modules\json5\lib\parse.js:1083:17)
      at invalidChar (C:\Users\DoD_Admin\Documents\AngularCAMEO\v22-core-angular-in

[2022-10-18 18:21] SwardCoder opened #1295 "[BUG] SPec files are Excluded by default and even when i included it in include in tsconfig.doc.json its not working"
##### **Overview of the issue**

[BUG] SPec files are Excluded by default and even when i included it in include in tsconfig.doc.json its not working

##### **Operating System, Node.js, npm, compodoc version(s)**
any

##### **Angular configuration, a `package.json` file in the root folder**

yes

##### **Compodoc installed globally or locally ?**

locally

##### **If possible sourcecode of the fil

[2022-10-19 08:59] qamhiehharri opened #1296 "[FEATURE] Show dependency graph for Angular standalone components"
##### **Overview of the feature**

Angular introduced standalone components as a way to make NgModules optional to use.
Currently, Compodoc doesn't show dependency graphs for standalone components imports and providers.

Feature request: build and show dependency graphs for standalone components, and properly link them together and other NgModules.

##### **Motivation for or Use Case**

Switching

[2022-10-23 20:39] raquel-f opened #1297 "[BUG] Folder name prevented compodoc run"
##### **Overview of the issue**
I was just starting to use Compodoc in my Angular project. I followed all the instructions in the installation page but running the actual script inserted in the `package.json` file was not working.

1.  I ran the command `ng add @compodoc/compodoc` for easier installation and it functioned properly.
2. Verified that scripts added to `package.json` were correct (the

[2022-10-24 19:18] russelporosky opened #1298 "[BUG] Relative Markdown links"
##### **Overview of the issue**

Relative links in Markdown files are not being modified with the correct path within the documentation.

##### **Operating System, Node.js, npm, compodoc version(s)**

Windows 10, node 16.17.0, npm 8.15.0, compodoc 1.1.19

##### **Angular configuration, a `package.json` file in the root folder**

https://github.com/russelporosky/ngx-boilerplate/blob/main/package.js

[2022-10-28 00:46] kavitshah8 opened #1299 "[QUESTION] Dynamic imports of routes metadatas"
Hi @vogloblinsky ,

Thanks for your talk
[Vincent Ogloblinsky - Hidden Gems of TypeScript compiler](https://www.youtube.com/watch?v=WkJagE7b5U0&t=1413s).
I am working with TS Compiler and sort of struggling with the issue you point out in that talk. I've asked on the question on [stackoverflow](https://stackoverflow.com/questions/74229505/how-to-evaluate-propertyaccessexpression-using-ts-compiler)

[2022-10-31 19:44] TheColorRed commented on #1262
Also, from time to time I get this result (Not sure if this is the compodoc or storybook):

[code]

[2022-11-04 08:06] andreasciamanna opened #1300 "[BUG] Unable to generate the documentation with @deprecated tag"
I cannot generate the documentation as I get an error that, in the end, says to file the bug here.

I remember facing similar issues about a year ago when I decided to stop using compodoc.
Today I wanted to give it another go, but I see the problem still exists.

The stack trace does not give many clues about the cause of the error.
I can only guess the problem is either in compodoc or `/graphql/s

[2022-11-13 05:49] #1216 closed

[2022-11-13 05:49] #1271 closed, assigned to vogloblinsky

[2022-11-13 05:49] #1276 closed, assigned to vogloblinsky

[2022-11-13 05:49] #1222 closed

[2022-11-13 05:50] #1260 closed, assigned to nobody

[2022-11-13 05:51] #1261 closed, assigned to vogloblinsky

[2022-11-13 05:51] #1264 closed, assigned to vogloblinsky

[2022-11-13 05:51] #1268 closed, assigned to nobody

[2022-11-13 05:52] #1267 closed, assigned to vogloblinsky

[2022-11-13 05:52] #1259 closed, assigned to vogloblinsky

[2022-11-13 05:52] #1265 closed, assigned to vogloblinsky

[2022-11-13 05:52] #1208 closed

[2022-11-13 06:13] bstrob commented on #1272
Problem still exists.

[2022-11-13 14:52] #1273 closed, assigned to vogloblinsky

[2022-11-13 14:54] #1275 closed, assigned to vogloblinsky

[2022-11-13 14:55] #1254 closed, assigned to vogloblinsky

[2022-11-13 19:40] fhaag commented on #1265
This issue is still unsolved and relevant for me.

[2022-11-13 19:42] fhaag opened #1301 "[FEATURE] Custom documentation tags"
*Note: This is a copy of #1265, which was automatically closed as it received no activity, with the suggestion to open a new issue if the underlying problem persists.*

##### **Overview of the feature**

Beside the pre-defined tags such as `@param` or `@return`, it would be helpful to register some kind of handlers for expanding custom tags specific to the current project or organisation.

##### *

[2022-11-13 19:43] fhaag commented on #1265
I have created a copy of this issue as #1301 as this one has been closed automatically.

[2022-11-14 01:39] sir-captainmorgan21 commented on #1216
bumping

[2022-11-14 01:40] sir-captainmorgan21 commented on #1216
@vogloblinsky can we get a look at this?

[2022-11-14 13:41] samlanzz opened #1302 "[BUG] Routes parsing error on multiple route parameters"
##### **Overview of the issue**

When using multiple route parameters, compodoc throws an error (see below) and fails to generate route documentation.
Here are a few route path test scenarios and whether they work or not:

- \`sample/:${sample}/example/:${example}\` ❌
- 'sample/:sample/example/:example' ❌
- 'sample/:sample' ✅
- \`sample/:${sample}\` ✅

##### **Operating System, Node.js, npm, compo

[2022-11-16 13:45] Nathanrs15 commented on #1124
This worked for me.  I found that it complains about a resolver class:

❌ Bad:

`{path: 'some-path', resolver: { ResolverClass } ...}`

👍 Good:

`{path: 'some-path', resolver: { name: ResolverClass } ...}`

[2022-11-21 08:18] iztokb opened #1303 "Unhandled Rejection at: Promise"
Hey
I'm trying to generate docs with command npm run compodoc:build, but keep getting an error that points to filling the issue on github. I assume that its this repo specific issue as lib works as expected in other projects.

Sorry, but there was a problem during parsing or generation of the documentation. Please fill an issue on github. (https://github.com/compodoc/compodoc/issues/new)

**Error

[2022-11-24 07:39] iztokb commented on #1303
I assume that this has the same cause as as issue #1302 . I'll close this issue and report if fix for that issue didn't resolve this.

[2022-11-24 07:39] #1303 closed, assigned to nobody

[2022-11-24 09:43] Voo2 commented on #1261
is there a chance to get this in a future release?

[2022-11-25 03:58] reduckted opened #1304 "[FEATURE] Multiple export formats"
##### **Overview of the feature**

Allow multiple export formats so that you don't have to run compodoc multiple times.

##### **Motivation for or Use Case**

I'm using Storybook which uses documentation from a JSON file. I'm running `compodoc -e json` to export the documentation for storybook.

I also want to create HTML output that I can serve through my website. Currently that means I need to r

[2022-11-29 08:22] sylvaingrasland-ornikar opened #1305 "[BUG] Dynamically imported modules are not displayed in the dependencies graph."
##### **Overview of the issue**

When using Compodoc on our NestJS codebase, in the modules' dependencies graph, we cannot see modules that are imported dynamically.

Example of a dependency that is not displayed :

[code]

##### **Operating System, Node.js, npm, compodoc version(s)**

OS : MacOS Ventura 13.0.1
Node.js : v16.15.1
yarn : 3.2.4
compodoc : 1.1.19
TypeScript version used by Compodoc :

[2022-11-30 16:59] stefan-de commented on #190
When does the PDF export feature comes?